<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SuggestionRow.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>AA81DD411D64F706002F17F9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AA81DD551D64F707002F17F9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AA81DD601D64F707002F17F9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
